<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Layout Homepage</title>
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="navbar--left">
                <div class="navbar__item">
                    <a href="">Logo</a>
                </div>
                <div class="navbar__item">
                    <a href="hompage.html">Home</a>
                </div>
                <div class="navbar__item">
                    <a href="product.html">Products</a>
                </div>
                <div class="navbar__item">
                    <a href="aboutus.html">About us</a>
                </div>
            </div>
            <div class="navbar--right">
                <div class="navbar__item">
                    Cart
                </div>
                <div class="navbar__item">
                    Login/Register
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner">
            <img class="hinh" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/s24-ultra-thang-10-home.png" alt="">
            <h1>LIST</h1>
        </div>
        <div class="promotion">
            <h1>PROMOTION</h1>
        </div>
        <div class="menu">
            <div class="menu__item smartphone">
                <h1>smartphone</h1>
            </div>
            <div class="menu__item laptop">
                <h1>laptop</h1>
            </div>
            <div class="menu__item ipad">
                <h1>ipad</h1>
            </div>
            <div class="menu__item headphone">
                <h1>headphone</h1>
            </div>
            <div class="menu__item watch">
                <h1>watch</h1>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer__item about_us">
            <h1>about us</h1>
        </div>
        <div class="footer__item payment_method">
            <h1>payment_method</h1>
        </div>
        <div class="footer__item follow">
            <h1>follow</h1>
        </div>
    </div>
</body>
</html>
